
.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh

.form
  border: 1px solid rgba(12,88,131,.8)
  border-radius: 5px
  padding: 15px
  max-width: 330px
  min-width: 150px
  position: relative

  &Input
    width: calc(100% - 18px)
    margin: 7px 0
    padding: 8px
    color: black
    border: 1px solid rgba(0,0,0,.4)
    border-radius: 2px
    &:focus
      outline: none
      border: 1px solid rgba(12,88,131,.95)
      box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2)

  &Button
    color: rgba(35,35,35,1)
    background-color: #fff
    border: none
    margin-top: 20px
    padding: 7px
    width: 100%
    border-radius: 3px 3px 0 0
    border-bottom: 1px solid rgba(12,88,131,.50)
    transition: all .3s ease

    &:hover
      color: rgba(0,0,0,1)
      cursor: pointer
      background-color: rgba(12,88,131,.50)

    &:focus
      color: #fff
      outline: none
      background-color: rgba(12,88,131,.90)
      border-bottom: 1px solid rgba(12,88,131,.95)

.buttonGroup
  display: flex
  flex-wrap: nowrap

.phoneErr
  position: absolute
  color: #d84500
  opacity: 0
  top: -3px
  right: 15px
  font-size: 12px
  animation: showDown 3s linear 1

.passwordErr
  position: absolute
  color: #d84500
  opacity: 0
  bottom: 45px
  right: 15px
  font-size: 12px
  animation: showDown 3s linear 1

@keyframes showDown
  0%
    opacity: 0
  10%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0
